.present-image {
  width: 100%;       
  height: auto; 
  max-width: 200px;       
  object-fit: contain;   
  display: block;
  margin: 0 auto;  
}

:host {                
  width: 100%;
}

nb-card {
  width: 100%;
}

.card-text {
  text-align: center;
}

:host(.disabled) {
  filter: grayscale(100%);
  opacity: 0.6;
  pointer-events: none;    
  cursor: not-allowed;
}
